/**
 * Main CSS File
 *
 * Tailwind CSS v4 - Using new @import syntax
 * Docs: https://tailwindcss.com/docs/installation/using-vite
 */

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Animasi berjalan dari Kiri ke Kanan */
@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-left {
  display: flex;
  width: max-content;
  animation: marquee-left 70s linear infinite;
}

.mask-gradient-edges {
  mask-image: linear-gradient(to right, transparent, white 15%, white 85%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, white 15%, white 85%, transparent);
}

@variant dark (&:where(.dark, .dark *));

/* BARIS KEDUA DAN SETERUSNYA: BARU BOLEH CONFIG & TEMA */
@theme {
  --font-sans: 'Quicksand', sans-serif;
  --color-brand-primary: #FF623E;
  
  /* Token warna dinamis */
  --color-bg-main: var(--bg-main);
  --color-text-main: var(--text-main);
  --color-bg-navbar: var(--bg-navbar);
  --color-text-muted: var(--text-muted);
  --color-bg-card: var(--bg-card);
  --bg-border-card: var(--border-card);
}

/* 1. KONDISI DEFAULT (LIGHT MODE) */
:root {
  --bg-main: #FFFFFF;
  --text-main: #OAOD12;
  --bg-navbar: transparent;
  --text-muted: #717680;
  --bg-card: #f8f9fa;
  --border-card: #DEDCDC;
}

/* 2. KONDISI SAAT AKTIF (.DARK MODE) */
.dark {
  --bg-main: #000000;
  --text-main: #ffffff;
  --bg-navbar: transparent;
  --text-muted: #9ca3af;
  --bg-card: #0A0D12;
  --border-card: #DEDCDC;
}

body {
  @apply font-sans;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}